<div x-show="window.location.hostname === 'localhost'">
    Localhost content
</div>

<button @click="toggle = !toggle">Toggle</button>

<div style="color: red; background: blue; padding: 10px;">
    Styled content
</div>

<pre style="max-height: 90vh; max-width: 100vw; overflow: scroll;">
    Scrollable content
</pre>